// app global css in SCSS form
.mma-card {
	width: 700px;
	max-width: 90vw;
}

.custom-background {
	background-color: #F9FDFB;
}

.text-overline-h5 {
	font-size: 1.05rem;
	font-weight: 800;
	line-height: 2rem;
	letter-spacing: 0.26667em;
}



